<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>

        <!-- Questi servono solo per boostestrap-select  -->
        <!-- 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.17/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.17/dist/js/bootstrap-select.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.17/dist/js/i18n/defaults-it_IT.min.js"></script>
        -->
        <link rel="stylesheet" href="/static/dist/css/bootstrap-select.min.css"> 
        <script src="/static/dist/js/bootstrap-select.min.js"></script> 
        <script src="/static/dist/js/i18n/defaults-it_IT.min.js"></script>

 </head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Concorso Foto</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li><a href="{{ url_for('vote') }}">Vote</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('new_contest') }}">New contest</a></li>
                        <li><a href="{{ url_for('close_contest') }}">Termina contest corrente</a></li>
                        <li><a href="{{ url_for('classifica') }}">Classifica</a></li>
                        <li><a href="/logout">Scollegati</a></li>
                        {% else %}
                        <li><a href="/login">Accedi</a></li>
                        {% endif %}
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Concorso fotografico del Fotoclub Visione Carpiano</p>
        </footer>
    </div>


    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>

