# config file

DEBUG = True
TESTING = True
SQLALCHEMY_TRACK_MODIFICATIONS = False
# SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:mysecretpassword@kubernetes.docker.internal/votazione'
SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:BTEJoL2xXYUc2Zmw3R@172.17.0.2/votazione'
SECRET_KEY='944!ttr34?9hghrriiFDFDDFmRrr3£$'